:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 2rem 0 2rem;
}
.title {
  margin-top: 2rem;
  font-family: "Helvetica Now", "Arial Black", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  isolation: isolate;
    width: max-content;
      margin: 0 auto;
}

/* Shared layer behavior */
#walter__title,
#van__title,
#Beirendonck__title {
  display: block;
  position: relative;
}
.subtitle{
  color: #FFF;
  font-family: "League Spartan";
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: -0.02475rem;
  text-transform: uppercase;
}
/* WALTER */
#walter__title {
  font-size: 5.25rem;
  color: #ffffff;
  z-index: 1;
}

/* VAN (power word) */
#van__title {
  font-size: 3.75rem;
  color: #FD71FF;
  margin-top: -0.85em;
  margin-left: 19rem;
  /* main overlap */
  z-index: 3;
}

/* BEIRENDONCK */
#Beirendonck__title {
  font-size: 3.5rem;
  color: #ffffff;
  margin-top: -0.5em;
  /* secondary overlap */
  z-index: 2;
}

/* Optional: optical tightening for print-like feel */
.title {
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}
.header__section {
  background-image: url("../assets/mobile_bgimage_test.svg");
  background-repeat: no-repeat;
  
}

/* tablet */
@media screen and (min-width: 43.75em) {
  .header__section {
    /* tablet background hier indien nodig */
  background-image: url("../assets/background_img_section1.svg");
  }
}

/* desktop */
@media screen and (min-width: 56.25em) {
  .header__section {
    /* desktop background hier indien nodig */
  }
}